<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datai.salesforce.mapper.DataPicklistMapper">
    
    <resultMap type="DataPicklist" id="DataPicklistResult">
        <result property="id"    column="id"    />
        <result property="api"    column="api"    />
        <result property="field"    column="field"    />
        <result property="value"    column="value"    />
        <result property="label"    column="label"    />
        <result property="active"    column="active"    />
        <result property="defaultValue"    column="default_value"    />
        <result property="validFor"    column="valid_for"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectDataPicklistVo">
        select id, api, field, value, label, active, default_value, valid_for, create_dept, create_by, create_time, update_by, update_time, remark, tenant_id from data_picklist
    </sql>

    <select id="selectDataPicklistList" parameterType="DataPicklist" resultMap="DataPicklistResult">
        <include refid="selectDataPicklistVo"/>
        <where>  
            <if test="api != null  and api != ''"> and api = #{api}</if>
            <if test="field != null  and field != ''"> and field = #{field}</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="label != null  and label != ''"> and label = #{label}</if>
            <if test="active != null "> and active = #{active}</if>
            <if test="defaultValue != null "> and default_value = #{defaultValue}</if>
            <if test="validFor != null  and validFor != ''"> and valid_for = #{validFor}</if>
            <if test="createDept != null "> and create_dept = #{createDept}</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectDataPicklistById" parameterType="Integer" resultMap="DataPicklistResult">
        <include refid="selectDataPicklistVo"/>
        where id = #{id}
    </select>

    <insert id="insertDataPicklist" parameterType="DataPicklist" useGeneratedKeys="true" keyProperty="id">
        insert into data_picklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="api != null and api != ''">api,</if>
            <if test="field != null and field != ''">field,</if>
            <if test="value != null and value != ''">value,</if>
            <if test="label != null">label,</if>
            <if test="active != null">active,</if>
            <if test="defaultValue != null">default_value,</if>
            <if test="validFor != null">valid_for,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="api != null and api != ''">#{api},</if>
            <if test="field != null and field != ''">#{field},</if>
            <if test="value != null and value != ''">#{value},</if>
            <if test="label != null">#{label},</if>
            <if test="active != null">#{active},</if>
            <if test="defaultValue != null">#{defaultValue},</if>
            <if test="validFor != null">#{validFor},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateDataPicklist" parameterType="DataPicklist">
        update data_picklist
        <trim prefix="SET" suffixOverrides=",">
            <if test="api != null and api != ''">api = #{api},</if>
            <if test="field != null and field != ''">field = #{field},</if>
            <if test="value != null and value != ''">value = #{value},</if>
            <if test="label != null">label = #{label},</if>
            <if test="active != null">active = #{active},</if>
            <if test="defaultValue != null">default_value = #{defaultValue},</if>
            <if test="validFor != null">valid_for = #{validFor},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataPicklistById" parameterType="Integer">
        delete from data_picklist where id = #{id}
    </delete>

    <delete id="deleteDataPicklistByIds" parameterType="String">
        delete from data_picklist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>