<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datai.salesforce.mapper.DataFilterLookupMapper">
    
    <resultMap type="DataFilterLookup" id="DataFilterLookupResult">
        <result property="id"    column="id"    />
        <result property="api"    column="api"    />
        <result property="field"    column="field"    />
        <result property="controllingField"    column="controlling_field"    />
        <result property="dependent"    column="dependent"    />
        <result property="lookupFilter"    column="lookup_filter"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectDataFilterLookupVo">
        select id, api, field, controlling_field, dependent, lookup_filter, create_dept, create_by, create_time, update_by, update_time, remark, tenant_id from data_filter_lookup
    </sql>

    <select id="selectDataFilterLookupList" parameterType="DataFilterLookup" resultMap="DataFilterLookupResult">
        <include refid="selectDataFilterLookupVo"/>
        <where>  
            <if test="api != null  and api != ''"> and api = #{api}</if>
            <if test="field != null  and field != ''"> and field = #{field}</if>
            <if test="controllingField != null  and controllingField != ''"> and controlling_field = #{controllingField}</if>
            <if test="dependent != null "> and dependent = #{dependent}</if>
            <if test="lookupFilter != null  and lookupFilter != ''"> and lookup_filter = #{lookupFilter}</if>
            <if test="createDept != null "> and create_dept = #{createDept}</if>
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectDataFilterLookupById" parameterType="Integer" resultMap="DataFilterLookupResult">
        <include refid="selectDataFilterLookupVo"/>
        where id = #{id}
    </select>

    <insert id="insertDataFilterLookup" parameterType="DataFilterLookup" useGeneratedKeys="true" keyProperty="id">
        insert into data_filter_lookup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="api != null and api != ''">api,</if>
            <if test="field != null and field != ''">field,</if>
            <if test="controllingField != null">controlling_field,</if>
            <if test="dependent != null">dependent,</if>
            <if test="lookupFilter != null">lookup_filter,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="api != null and api != ''">#{api},</if>
            <if test="field != null and field != ''">#{field},</if>
            <if test="controllingField != null">#{controllingField},</if>
            <if test="dependent != null">#{dependent},</if>
            <if test="lookupFilter != null">#{lookupFilter},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateDataFilterLookup" parameterType="DataFilterLookup">
        update data_filter_lookup
        <trim prefix="SET" suffixOverrides=",">
            <if test="api != null and api != ''">api = #{api},</if>
            <if test="field != null and field != ''">field = #{field},</if>
            <if test="controllingField != null">controlling_field = #{controllingField},</if>
            <if test="dependent != null">dependent = #{dependent},</if>
            <if test="lookupFilter != null">lookup_filter = #{lookupFilter},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataFilterLookupById" parameterType="Integer">
        delete from data_filter_lookup where id = #{id}
    </delete>

    <delete id="deleteDataFilterLookupByIds" parameterType="String">
        delete from data_filter_lookup where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>