<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datai.auth.mapper.DataiSfFailedLoginMapper">
    
    <resultMap type="DataiSfFailedLogin" id="DataiSfFailedLoginResult">
        <result property="failedId" column="failed_id" />
        <result property="tenantId" column="tenant_id" />
        <result property="username" column="username" />
        <result property="loginType" column="login_type" />
        <result property="failedTime" column="failed_time" />
        <result property="failedReason" column="failed_reason" />
        <result property="ipAddress" column="ip_address" />
        <result property="deviceInfo" column="device_info" />
        <result property="lockStatus" column="lock_status" />
        <result property="lockTime" column="lock_time" />
        <result property="unlockTime" column="unlock_time" />
        <result property="lockReason" column="lock_reason" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="selectDataiSfFailedLoginVo">
        select 
            dsfl.failed_id,
            dsfl.tenant_id,
            dsfl.username,
            dsfl.login_type,
            dsfl.failed_time,
            dsfl.failed_reason,
            dsfl.ip_address,
            dsfl.device_info,
            dsfl.lock_status,
            dsfl.lock_time,
            dsfl.unlock_time,
            dsfl.lock_reason,
            dsfl.create_by,
            dsfl.create_time
        from datai_sf_failed_login dsfl
    </sql>

    <select id="selectDataiSfFailedLoginList" parameterType="DataiSfFailedLogin" resultMap="DataiSfFailedLoginResult">
        <include refid="selectDataiSfFailedLoginVo"/>
        <where>
            <if test="tenantId != null  and tenantId != ''"> and dsfl.tenant_id = #{tenantId}</if>
            <if test="username != null  and username != ''"> and dsfl.username like concat('%', #{username}, '%')</if>
            <if test="loginType != null  and loginType != ''"> and dsfl.login_type = #{loginType}</if>
            <if test="failedTime != null "> and dsfl.failed_time = #{failedTime}</if>
            <if test="failedReason != null  and failedReason != ''"> and dsfl.failed_reason = #{failedReason}</if>
            <if test="ipAddress != null  and ipAddress != ''"> and dsfl.ip_address = #{ipAddress}</if>
            <if test="deviceInfo != null  and deviceInfo != ''"> and dsfl.device_info = #{deviceInfo}</if>
            <if test="lockStatus != null  and lockStatus != ''"> and dsfl.lock_status = #{lockStatus}</if>
            <if test="lockTime != null "> and dsfl.lock_time = #{lockTime}</if>
            <if test="unlockTime != null "> and dsfl.unlock_time = #{unlockTime}</if>
            <if test="lockReason != null  and lockReason != ''"> and dsfl.lock_reason = #{lockReason}</if>
        </where>
    </select>
    
    <select id="selectDataiSfFailedLoginByFailedId" parameterType="Long" resultMap="DataiSfFailedLoginResult">
        <include refid="selectDataiSfFailedLoginVo"/>
        where dsfl.failed_id = #{failedId}
    </select>
        
    <insert id="insertDataiSfFailedLogin" parameterType="DataiSfFailedLogin" useGeneratedKeys="true" keyProperty="failedId">
        insert into datai_sf_failed_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="username != null">username,</if>
            <if test="loginType != null">login_type,</if>
            <if test="failedTime != null">failed_time,</if>
            <if test="failedReason != null">failed_reason,</if>
            <if test="ipAddress != null">ip_address,</if>
            <if test="deviceInfo != null">device_info,</if>
            <if test="lockStatus != null and lockStatus != ''">lock_status,</if>
            <if test="lockTime != null">lock_time,</if>
            <if test="unlockTime != null">unlock_time,</if>
            <if test="lockReason != null">lock_reason,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="username != null">#{username},</if>
            <if test="loginType != null">#{loginType},</if>
            <if test="failedTime != null">#{failedTime},</if>
            <if test="failedReason != null">#{failedReason},</if>
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="deviceInfo != null">#{deviceInfo},</if>
            <if test="lockStatus != null and lockStatus != ''">#{lockStatus},</if>
            <if test="lockTime != null">#{lockTime},</if>
            <if test="unlockTime != null">#{unlockTime},</if>
            <if test="lockReason != null">#{lockReason},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateDataiSfFailedLogin" parameterType="DataiSfFailedLogin">
        update datai_sf_failed_login
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="loginType != null">login_type = #{loginType},</if>
            <if test="failedTime != null">failed_time = #{failedTime},</if>
            <if test="failedReason != null">failed_reason = #{failedReason},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
            <if test="deviceInfo != null">device_info = #{deviceInfo},</if>
            <if test="lockStatus != null and lockStatus != ''">lock_status = #{lockStatus},</if>
            <if test="lockTime != null">lock_time = #{lockTime},</if>
            <if test="unlockTime != null">unlock_time = #{unlockTime},</if>
            <if test="lockReason != null">lock_reason = #{lockReason},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where datai_sf_failed_login.failed_id = #{failedId}
    </update>

    <delete id="deleteDataiSfFailedLoginByFailedId" parameterType="Long">
        delete from datai_sf_failed_login where failed_id = #{failedId}
    </delete>

    <delete id="deleteDataiSfFailedLoginByFailedIds" parameterType="String">
        delete from datai_sf_failed_login where failed_id in 
        <foreach item="failedId" collection="array" open="(" separator="," close=")">
            #{failedId}
        </foreach>
    </delete>
</mapper>