<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datai.setting.mapper.DataiConfigurationMapper">
    
    <resultMap type="DataiConfiguration" id="DataiConfigurationResult">
        <result property="configId" column="config_id" />
        <result property="configKey" column="config_key" />
        <result property="configValue" column="config_value" />
        <result property="environmentId" column="environment_id" />
        <result property="isSensitive" column="is_sensitive" />
        <result property="isEncrypted" column="is_encrypted" />
        <result property="description" column="description" />
        <result property="isActive" column="is_active" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
        <result property="tenantId" column="tenant_id" />
    </resultMap>

    <sql id="selectDataiConfigurationVo">
        select 
            dc.config_id,
            dc.config_key,
            dc.config_value,
            dc.environment_id,
            dc.is_sensitive,
            dc.is_encrypted,
            dc.description,
            dc.is_active,
            dc.create_by,
            dc.create_time,
            dc.update_by,
            dc.update_time,
            dc.remark,
            dc.tenant_id
        from datai_configuration dc
    </sql>

    <select id="selectDataiConfigurationList" parameterType="DataiConfiguration" resultMap="DataiConfigurationResult">
        <include refid="selectDataiConfigurationVo"/>
        <where>
            <if test="configKey != null  and configKey != ''"> and dc.config_key = #{configKey}</if>
            <if test="configValue != null  and configValue != ''"> and dc.config_value = #{configValue}</if>
            <if test="environmentId != null "> and dc.environment_id = #{environmentId}</if>
            <if test="isSensitive != null "> and dc.is_sensitive = #{isSensitive}</if>
            <if test="isEncrypted != null "> and dc.is_encrypted = #{isEncrypted}</if>
            <if test="description != null  and description != ''"> and dc.description = #{description}</if>
            <if test="isActive != null "> and dc.is_active = #{isActive}</if>
            <if test="tenantId != null  and tenantId != ''"> and dc.tenant_id = #{tenantId}</if>
        </where>
    </select>
    
    <select id="selectDataiConfigurationByConfigId" parameterType="Long" resultMap="DataiConfigurationResult">
        <include refid="selectDataiConfigurationVo"/>
        where dc.config_id = #{configId}
    </select>
        
    <insert id="insertDataiConfiguration" parameterType="DataiConfiguration" useGeneratedKeys="true" keyProperty="configId">
        insert into datai_configuration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configKey != null and configKey != ''">config_key,</if>
            <if test="configValue != null">config_value,</if>
            <if test="environmentId != null">environment_id,</if>
            <if test="isSensitive != null">is_sensitive,</if>
            <if test="isEncrypted != null">is_encrypted,</if>
            <if test="description != null">description,</if>
            <if test="isActive != null">is_active,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configKey != null and configKey != ''">#{configKey},</if>
            <if test="configValue != null">#{configValue},</if>
            <if test="environmentId != null">#{environmentId},</if>
            <if test="isSensitive != null">#{isSensitive},</if>
            <if test="isEncrypted != null">#{isEncrypted},</if>
            <if test="description != null">#{description},</if>
            <if test="isActive != null">#{isActive},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
         </trim>
    </insert>

    <update id="updateDataiConfiguration" parameterType="DataiConfiguration">
        update datai_configuration
        <trim prefix="SET" suffixOverrides=",">
            <if test="configKey != null and configKey != ''">config_key = #{configKey},</if>
            <if test="configValue != null">config_value = #{configValue},</if>
            <if test="environmentId != null">environment_id = #{environmentId},</if>
            <if test="isSensitive != null">is_sensitive = #{isSensitive},</if>
            <if test="isEncrypted != null">is_encrypted = #{isEncrypted},</if>
            <if test="description != null">description = #{description},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
        </trim>
        where datai_configuration.config_id = #{configId}
    </update>

    <delete id="deleteDataiConfigurationByConfigId" parameterType="Long">
        delete from datai_configuration where config_id = #{configId}
    </delete>

    <delete id="deleteDataiConfigurationByConfigIds" parameterType="String">
        delete from datai_configuration where config_id in 
        <foreach item="configId" collection="array" open="(" separator="," close=")">
            #{configId}
        </foreach>
    </delete>
</mapper>